<div class="formWrapper">
	<h1>Cambia tu contraseña</h1>
	<form data-ng-submit="vm.functions.changePassword()">
		<p class="errorMessage">{{vm.errorMessage}}</p>
		<label>Contraseña actual: <input type="password"
			name="currentPassword" data-ng-model="vm.currentPassword" required>
		</label> <label>Nueva contraseña: <input type="password"
			name="newPassword" data-ng-model="vm.newPassword" required>
		</label> <label>Repite la nueva contraseña: <input type="password"
			name="repeatedNewPassword" data-ng-model="vm.repeatedNewPassword"
			required>
		</label> <input type="submit" value="Cambiar contraseña">
	</form>
</div>